<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>水族館</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td> <%= row. Se_id %></td>
            <td> <%= row. Re_id %></td>
            <td> <%= row. Ma_id %></td>
            <td> <%= row. Sp_id %></td>
            <td> <%= row. count %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>